body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    background: darkgray;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.navi {
    display: flex;
    background: #1f2937;
    justify-content: space-between;
    padding: 10px 20%;
}

.navi:first-child {
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
}

.link {
    display: flex;
    gap: 1em;
}

.header {
    display: flex;
    background: #1f2937;
    padding: 50px 20%;
    justify-content: space-between;
    gap: 2em;
}

.sub-header div:first-child {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.sub-header {
    color: #e5e7eb;
    min-width: 300px;
    max-width: 600px;
    flex: 1;
}

button {
    background-color: #3882f6; /* Green */
    border: none;
    color: #f9faf8;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 8px;
  }

.main-img {
    display: flex;
    flex: 1 1 0;
    max-height: 400px;
}
.main-img img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.content {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-top: 30px;
}

.sub-content {
    display: flex;
    font-size: 18px;
    font-weight: lighter;
    color: #1f2937;
    margin: 30px 0;
}

.quote-container {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 5% 20%;
    align-self: stretch;
    justify-content: center;
}

.quote-container div{
    flex: 1:
    color: #1f2937;
    font-style: italic;
    font-size: 24px;
    font-weight: 300;
    text-align: justify;
}

.quote-container #taylor {
    font-weight: 400;
    align-self: flex-end;
    padding: 10px;
}

.sub-content {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.info > img {
    border: 5px solid #ffc1ec;
    border-radius: 16px;
}